<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 1 创建目标类 -->
	<bean id="userserviceid" class="spring.aop.UserServiceImpl" ></bean>
	<!-- 2 创建切面类 -->
	<bean id="myAspectId" class="spring.aop.MyAspect"></bean>
	<!-- 3 aop 编程
			3.1 导入命名空间
			3.2 使用<aop:config> 进行配置
				proxy-target-class="true" 声明时使用cglib代理
				<aop:pointcut expression="" id=""/> 切入点，从目标对象获取具体方法
				<aop:advisor advice-ref=""/> 特殊的切面，只有一个通知 和 一个切入点
					 advice-ref=""  通知引用
					 pointcut-ref="" 切入点引用
			3.3 切入点表达式
				execution(* spring.aop.*.*(..))
				选择方法 返回值任意   包  类名任意  方法任意 参数任意				
	 -->
	<aop:config proxy-target-class="false">
		<aop:pointcut expression="execution(* spring.aop.UserServiceImpl.*(..))" id="myPointCut"/>
		<aop:advisor advice-ref="myAspectId" pointcut-ref="myPointCut"/>
	</aop:config>
</beans>