<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://www.springframework.org/schema/beans" 
		xmlns:p="http://www.springframework.org/schema/p" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-4.2.xsd ">
	<!-- 1 创建目标类 -->
	<bean id="userserviceid" class="factory.bean.UserServiceImpl" ></bean>
	<!-- 2 创建切面类 -->
	<bean id="myAspectId" class="factory.bean.MyAspect"></bean>
	
	<!-- 3 创建代理类 
			使用工厂bean FactoryBean ，底层调用getObject() 返回特殊bean
			ProxyFactoryBean 用于创建代理工厂bean，生成特殊代理对象
				interfaces : 确定接口们
					通过<array> 可以设置多个值
					只有一个值时， value=""
				target : 确定目标类
				interceptorNames : 通知 切面类的名称 类型 String[],如果设置一个值value=""
				optimize: 强制使用cglib
					<property name="optimize" value="true"></property>
			底层机制
				如果目标类有接口，采用jdk动态代理
				如果没有接口，采用cglib 字节码增强
				如果声明 optimize = true，无论是否有接口，都采用cglib	 	
			
	-->
	<bean id="proxyuserserviceid" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="interfaces" value="factory.bean.UserService"></property>
		<property name="target" ref="userserviceid"></property>
		<property name="interceptorNames" value="myAspectId" ></property>
		<property name="optimize" value="true"></property>
	</bean>
</beans>